*{
	margin: 0 auto 0 auto;
	text-align:left;
}

body{
	overflow: auto;
	margin:0;
	padding:0;
	text-align:left;
	font-size:11pt;
	font-family:Georgia, 'Times New Roman', Times, serif;
	color:#000000;
	background-color: #ffffff;
	align-items: center;
	font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a{
	text-decoration:none;
}

table,tr,td,th{
	margin:0;
}

table{
	padding:10px 0;
}

th{
	text-align:center;
}

td{
	padding:5px 20px;
}

h2{
	padding-bottom:10px;
}

h3{
	font-size:16px;
	font-weight:bold;
	padding:10px 0;
	color:#054dbc;
}

h4{
	font-size:15px;
	font-weight:bold;
	padding-bottom:7px;
	color:#054dbc;
}

p{
	margin:10px 0;
}

label{
	display:inline-block;
	width:150px;
}

/* Main styles */

header{
	width: 100%;
	height:85px;
	background-color: #ffffff;
	 
}

header h1{
	float:left;
	color:#000000;
	font-size:43px;
	padding:20px 0 0 20px;
}



header h2{
	float:right;
	color:#A9D1FA;
	padding:40px 20px 0 0;
}



header h2 span.white-text{
	color:#ffffff;
	 
}

nav#menu{
	display:block;
	float:left;
	clear:both;
	position: absolute;
	width:100%;
	height:auto;
	background-color: #ffffff;
	box-shadow: 3px 3px 15px 20px rgb(228, 228, 228);
}
nav#homepic{
	float: left;
}

nav#menu ul{
	list-style:none;
	padding:0;
	padding-top:18px;
	margin-left:auto;
	width:960px;
}

nav#menu li{
	list-style:none;
	padding:0;
	display: inline;
}

nav#menu li a,#menu li a:visited{
	float:left;
	color:#000;
	text-decoration:none;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	padding:0 13px 0 13px;
}

 div#container{
	width:960px;
	overflow: auto;
	padding-top: 25px;
	
}


section{
	display:block;
	width:680px; 
	margin-top:15px;
	float:left;
	background:#ffffff;
	border-radius:5px;
	/*border:6px solid #54782E;*/
	padding:15px;
	margin-left:20px;
	margin-top: 125px;
}

section#about{
	width:830px;
	height:390px;
	border-radius:10px; 
	border:1px solid #54782E;	
}

section#dashboard{
	width:960px;
	height:500px;
	border-radius:10px; 
	border:1px solid #54782E;	
	margin-left:15px; 
	margin-top:15px; 
	 
}

section#secbox{
	background:#e4e4e4;
	width:270px;
	height:180px;
	
}

section#secbox:hover{

	box-shadow: 0px 1px 15px 3px rgb(228, 228, 228);
}

.float{
	float:right;
	margin:15px;
}

.signin{
	 float:right;
	 margin-top:-30px;


}

.signup{
	 float:right;
	 margin-right:90px;
	 margin-top:-30px;

}
footer{
	position: fixed;
	bottom: 0;
	width:100%;
	background:#222323;
	color:#fff;
	height: 40px;
	text-align:center;
	margin-top:20px;
	margin-bottom: 0px;
	padding-top:15px;
	padding-bottom: 0px;
}


.button {
    background-color: #54782E; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttongreen {
	border-radius: 5px;
    background-color: white;
    color: black;
    border: 2px solid #54782E;
}

.buttongreen:hover {
    background-color: #54782E;
    color: white;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #54782E;
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 5px;
}
form.form{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}